<div class="site-wrap">



  <main class="main-content">
    <h2 class="fixed-top m-3 ">
      <a [routerLink]="['/']" class="text-white">
        <fa-icon [icon]="faHome"></fa-icon>
      </a>
    </h2>
    <section class="site-section-hero bg-image" data-stellar-background-ratio="0.5" id="section-home">

      <div class="row justify-content-center align-items-center m-0">

        <div class="col-md-7 text-center">
          <h1 class="text-white heading text-uppercase" data-aos="fade-up">#FAVOLE DI PANE
          </h1>
          <p class="lead text-white mb-5" data-aos="fade-up" data-aos-delay="100">
            Gli ordini on-line possone essere effettuati tutti i giorni dalle 12:00 alle 19:00
          </p>
          <!-- If you would like to customize the button, remove or change the "class" attribute inside the <span> tag -->

          <button data-glf-cuid="64e2eb6a-a669-403f-afa9-1f6e0b0111bf"
            data-glf-ruid="90690f84-8ef5-4acf-afee-dd45377799b5" class="btn btn-info btn-md smoothscroll ">Vedi Menu &
            Ordina</button>
        </div>
      </div>
    </section>


  </main>

</div>